@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<a asp-action="Create" asp-controller="Categories">Create New Categories</a>||
<a asp-action="Create" asp-controller="SubCategories">Create New SubCategories</a>||
<a asp-action="Create" asp-controller="Products">Create New Product</a>||
<a asp-action="Create" asp-controller="Units">Create New Units</a>
<br />
<hr />
<a asp-action="Create" asp-controller="Locations">Create New Locations</a>||
<a asp-action="Create" asp-controller="Shops">Create New Shop</a>||
<a asp-action="Create" asp-controller="ProductPrices">Create New ProductPrices</a>||
<a asp-action="Create" asp-controller="Users">Create New User</a>||
<a asp-action="Create" asp-controller="UserAddresses">Create New UserAddresses</a>||
<a asp-action="Create" asp-controller="Orders">Create New Orders</a>
<br />
<hr />
